# Source Configuration. Can be either 'opsgenie' or 'pagerduty'
SOURCE=opsgenie

# PagerDuty API Configuration
PAGERDUTY_API_TOKEN=your_pagerduty_token_here
PAGERDUTY_API_URL=https://api.pagerduty.com

# OpsGenie API Configuration
OPSGENIE_API_KEY=your_opsgenie_api_key_here
OPSGENIE_API_URL=https://api.opsgenie.com/v2

# Squadcast API Configuration
SQUADCAST_REFRESH_TOKEN=your_squadcast_refresh_token_here
SQUADCAST_REGION=us # or 'eu' depending on your region

# Terraform output and state paths
TERRAFORM_OUTPUT_PATH=./terraform_output
TERRAFORM_STATE_PATH=./terraform_state

# Migration Settings
LOG_LEVEL=INFO